@font-face {
  font-family: 'StratosSkyengWeb';
  src: url('./fonts/stratosskyengweb-medium.woff2') format('woff2'),
      url('./fonts/stratosskyengweb-medium.woff') format('woff');
}

body {
  background: #004980;
  font-family: 'StratosSkyengWeb', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button,
.start-button,
.back-button,
.time-btn,
.flip-button {
  border: none;
  outline: none;
}

.square {
  width: 480px;
  height: 459px;
  background: #C2F5FF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 154px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004980;
  padding-left: 136px;
  padding-right: 136px;
  margin-bottom: 0px;
  margin-top: 48px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 67px;
}

.button {
  padding-left: 24px;
  padding-right: 24px;
  width: 98px;
  height: 98px;
  background: #FFFFFF;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0080C1;
  margin: 0 10px;
}

.button.active {
  background: #004980;
  color: #FFFFFF;
}

.start-button {
  width: 246px;
  height: 50px;
  background: #7AC100;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  padding-right: 117px;
  padding-left: 117px;
  margin-bottom: 48px;
}

.skill-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button{
  margin-top: 20px;
  height: 50px;
  background: #7AC100;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

.skill-title{

  color: #7AC100;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

.photo{
  width: 480px;
  height: 480px;
}



.hub-timer{
  margin-top: 52px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  width: 100vh;

}

.timer-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.time-btn{
  margin-top: 5px;
  background: #7AC100;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  border: none;
  outline: none;
}
.timer-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.timer-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: end;
  font-size: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;

  /* margin-left: 50px;
  margin-right: 6px; Увеличьте значение margin-right для увеличения пробела */
}

.timer-text-min{
  margin: 0;
}

.timer-text-sek{
  margin: 0;

}



.hub-cart{
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */

}


.one.suit {
  flex: 0 0 auto; /* Ensure each div takes up its content width */
}

.card{
  padding: 15px;
}

.hub-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
}

.flip-button{
  margin-top: 20px;
  height: 50px;
  background: #7AC100;
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;

}